@mixin btn {
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 7px;
	background-color: transparent;
	border: 1px solid transparent;
	outline: none;
	font-size: 14px;

	&:focus {
		outline: none;
	}
}

@mixin task-wrapper {
	padding: 15px;
}

@mixin content {
	width: 100%;
}

@mixin task {
	margin: 5px 0;
	padding: 5px;
}

@mixin block-one {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin style-svg {
	margin-top: 7px;
	margin-right: 7px;
}

@mixin title-task {
	margin-left: 5px;
	font-size: 18px;
	cursor: pointer;
	display: flex;
	align-items: flex-start;
	width: 100%;
}

@mixin task-date {
	width: 100%;
	text-align: right;
	font-size: 14px;
	color: #5d5d5d;
}

@mixin hover-task {
	background-color: rgba(55, 53, 47, 0.08);
	border-radius: 5px;
}

@mixin task-icon {
	width: 20px;
	height: 20px;
	margin: 0 4px;
}

@mixin task-interactiv {
	user-select: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

$main_color: #0d6efd;
$main_color-hover: #0069d9;