@import '../../base';

.login {
	margin: 20 auto;

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}
}

.title {
	text-align: center;
	font-size: 32px;
	margin: 30px 0;
}

.input {
	font-size: 16px;
	color: #212529;
	background-color: #fff;
    background-clip: padding-box;
	border: 1px solid #b9c0c7;
	appearance: none;
    border-radius: 4px;
	width: 240px;
	height: 30px;
	padding: 5px 10px;

	&:focus {
		border-color: #86b7fe;
   	 	outline: 0;
		box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
	}
}

.btn {
	width: 100px;
	@include btn-mixin;
}