@import '../../base';

.header {
	max-width: 1440px;
	margin: 0 auto;
	margin-top: 15px;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.btn {
	@include btn-mixin;
}