.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	height: 80px;
	border-bottom: 1px solid #dee2e6;

	&__auth {
		width: 220px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	&__login {
		@include btn;
		color: $main_color;
		border-color: $main_color;

		&:hover {
			border-color: $main_color-hover;
			background-color: #eceff1;
		}
	}
	
	&__register {
		@include btn;
		color: #fff;
		background-color: $main_color;
		border-color: $main_color;

		&:hover {
			background-color: $main_color-hover;
			border-color: $main_color-hover;
		}
	}
}

@media (max-width: 768px) {
	.header {
		padding: 15px 10px;

		&__logo {
			width: 110px;
		}

		&__auth {
			width: 200px;
		}

		&__login {
			padding: 8px 15px;
		}
		
		&__register {
			padding: 8px 15px;
		}
	}
}

@media (max-width: 425px) {
	.header {
		&__logo {
			width: 100px;
		}

		&__auth {
			width: 200px;
		}

		&__login {
			padding: 5px 13px;
		}
		
		&__register {
			padding: 5px 13px;
		}
	}
}