.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	height: 80px;
	border-bottom: 1px solid #dee2e6;

	&__auth {
		width: 280px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	&__login {
		@include btn;
		color: $main_color;
		border-color: $main_color;
	}
	
	&__register {
		@include btn;
		color: #fff;
		background-color: $main_color;
		border-color: $main_color;
	}
}

