.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	height: 80px;
	border-bottom: 1px solid #dee2e6;

	&__auth {
		width: 280px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__login {
		@include btn;
		color: #0d6efd;
    	border-color: #0d6efd;
	}
	
	&__register {
		@include btn;
		color: #fff;
		background-color: #0d6efd;
		border-color: #0d6efd;
	}
}

