.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,.5);

	&__wrapper {
		max-width: 400px;
		margin: 40px auto;
	}

	&__content {
		position: relative;
		width: 100%;
		padding: 40px;
		background-color: #fff;
		border: 1px solid rgba(0,0,0,.2);
		border-radius: 4px;
		max-height: 80vh;
		overflow-y: auto;
	}

	&__close {
		position: absolute;
		top: 8px;
		right: 14px;
		font-size: 30px;
		color: #000;
		opacity: .5;
		font-weight: 700;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}

	&__title {
		margin-bottom: 15px;
		text-align: center;
		font-size: 22px;
		text-transform: uppercase;
	}

	&__input {
		margin-bottom: 15px;
		width: 250px;
		height: 40px;
		background: #FFFFFF;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
		border: none;
		border-radius: 5px;
		font-size: 18px;
		text-align: center;
		padding: 0 20px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	&__btn {
		@include btn;
		color: #fff;
		background-color: #0d6efd;
		border-color: #0d6efd;
	}

	&_hide {
		display: none;
	}

	&_show {
		display: block;
	}
}

#add {
	form {
		display: block;
	}

	.modal__wrapper {
		max-width: 480px;
	}

	input {
		width: 400px;
	}

	textarea {
		margin-bottom: 15px;
		width: 400px;
		height: 80px;
		background: #FFFFFF;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
		border: none;
		border-radius: 5px;
		font-size: 18px;
		text-align: center;
		padding: 0 20px;
		resize: none;
	}

	.modal__button-wrapper {
		display: flex;
		justify-content: flex-end;

	}
}