.main {
	max-width: 1340px;
	margin: 0 auto;

	&__add-wrapper {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 5px;
	}

	&__add-tasks {
		border: 1px solid black;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		span {
			user-select: none;
			font-size: 26px;
		}
	}

	&__tasks-wrapper {
		@include task-wrapper;
	}

	&__content {
		@include content;
	}

	&__task {
		@include task;

		&-block-one {
			@include block-one;
		}

		svg {
			@include style-svg;
		}

		&-title {
			@include title-task;
		}

		&-date {
			@include task-date;
		}

		&:hover {
			@include hover-task;
		}

		&-icon {
			@include task-icon;
		}

		&-interactiv {
			@include task-interactiv;
		}
	}
}

.divider {
	margin-top: 5px;
	height: 2px;
	width: 100%;
	background-color: #dee2e6;
}

.title {
	margin-top: 20px;
	font-size: 28px;
}

.done {
	&__tasks-wrapper {
		@include task-wrapper;
	}

	&__content {
		@include content;
	}

	&__task {
		@include task;

		&-block-one {
			@include block-one;
		}

		svg {
			@include style-svg;
		}

		&-title {
			@include title-task;
		}

		&-date {
			@include task-date;
		}

		&:hover {
			@include hover-task;
		}

		&-icon {
			@include task-icon;

			margin: 0 4px !important;
			fill: #b4a4a4;
		}

		&-interactiv {
			@include task-interactiv;
		}
	}
}