//Todo: переписать стили для треугольника. 1 - серый треугольник, если нет descr. 2 - его позиционирование не пиксельно, а в процентах.

.main {
	max-width: 1340px;
	margin: 0 auto;

	&__title {
		margin-top: 20px;
		font-size: 28px;
	}

	&__divider {
		margin-top: 5px;
		height: 2px;
		width: 100%;
		background-color: #dee2e6;
	}

	&__add-wrapper {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 5px;
	}

	&__add-tasks {
		border: 1px solid black;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		span {
			user-select: none;
			font-size: 26px;
		}
	}

	&__tasks-wrapper {
		padding: 15px;
	}

	&__content {
		width: 100%;
	}

	&__task {
		margin: 5px 0;
		padding: 5px;
		display: flex;
		cursor: pointer;

		svg {
			margin-top: 7px;
		}

		&-title {
			margin-left: 5px;
			font-size: 18px;
			cursor: pointer;
		}

		&-date {
			width: 100%;
			text-align: right;
			font-size: 14px;
			color: #5d5d5d;
		}

		&:hover {
			background-color: rgba(55, 53, 47, 0.08);
			border-radius: 5px;
		}
	}
}