@mixin btn-mixin {
	padding: 10px 15px;
	font-size: 16px;
	margin: 0 5px;
	user-select: none;
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
	border: 1px solid transparent;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;

	&:active {
		background-color: #0a58ca;
		border-color: #0a53be;
	}

	&:focus {
		background-color: #0b5ed7;
		border-color: #0a58ca;
		box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
		outline: 0;
	}

	&:hover {
		background-color: #0b5ed7;
		border-color: #0a58ca;
	}
}